.cards-tab-container{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for the header */
  .cards-tab-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  

  
  /* Styling for the transaction table */
  .cards-table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .cards-table th,
  .cards-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .cards-table th {
    background-color: #5864d8;
    color: #fff;
    font-weight: bold;
  }
  
  .cards-table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Styling for action buttons */
  .edit-button,
  .delete-button {
    padding: 6px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  